AutomationClient/Connected Services/WinSvcReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TaskHelper" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITaskHelper_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WinSvc" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WinSvc.Models" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITaskHelper_GetSpParams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpParams" />
  </wsdl:message>
  <wsdl:message name="ITaskHelper_GetSpParams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpParamsResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskHelper_GetSpParams_TaskFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WinSvc" name="detail" element="q1:TaskFault" />
  </wsdl:message>
  <wsdl:message name="ITaskHelper_ExecSp_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecSp" />
  </wsdl:message>
  <wsdl:message name="ITaskHelper_ExecSp_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecSpResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskHelper_ExecSp_TaskFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WinSvc" name="detail" element="q2:TaskFault" />
  </wsdl:message>
  <wsdl:portType name="ITaskHelper">
    <wsdl:operation name="GetSpParams">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskHelper/GetSpParams" message="tns:ITaskHelper_GetSpParams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskHelper/GetSpParamsResponse" message="tns:ITaskHelper_GetSpParams_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITaskHelper/GetSpParamsTaskFaultFault" name="TaskFaultFault" message="tns:ITaskHelper_GetSpParams_TaskFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecSp">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskHelper/ExecSp" message="tns:ITaskHelper_ExecSp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskHelper/ExecSpResponse" message="tns:ITaskHelper_ExecSp_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITaskHelper/ExecSpTaskFaultFault" name="TaskFaultFault" message="tns:ITaskHelper_ExecSp_TaskFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITaskHelper" type="tns:ITaskHelper">
    <wsp:PolicyReference URI="#NetTcpBinding_ITaskHelper_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetSpParams">
      <soap12:operation soapAction="http://tempuri.org/ITaskHelper/GetSpParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TaskFaultFault">
        <soap12:fault use="literal" name="TaskFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecSp">
      <soap12:operation soapAction="http://tempuri.org/ITaskHelper/ExecSp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TaskFaultFault">
        <soap12:fault use="literal" name="TaskFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskHelper">
    <wsdl:port name="NetTcpBinding_ITaskHelper" binding="tns:NetTcpBinding_ITaskHelper">
      <soap12:address location="net.tcp://localhost:9000/WinSvc/service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/WinSvc/service</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-S40AS1C\Альберт</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>