AutomationClient/Connected Services/WinSvcReference/WinSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WinSvc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WinSvc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaskFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProblemType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskFault" nillable="true" type="tns:TaskFault" />
</xs:schema>